global
    maxconn 20000
    ulimit-n 16384
    log 127.0.0.1 local0
    daemon

frontend default
    mode http
    log global
    option httplog
    option dontlognull
    option nolinger
    maxconn 8000
    timeout client 30s
    bind *:{{ haproxy.bind.address }} {{ haproxy.bind.extra_params }}
    acl is_grafana hdr(host) -i {{ grafana.host }}
    use_backend grafana if is_grafana
    acl is_prometheus hdr(host) -i {{ prometheus.host }}
    use_backend prometheus if is_prometheus

backend grafana
    mode http
    balance roundrobin
    option httpchk
    server soube2 {{ hostvars['soube2']['ansible_all_ipv4_addresses'] | select('match', '^192.168.[0-9]+') | first }}:3000 check

backend prometheus
    mode http
    balance roundrobin
    option httpchk
    server soube2 {{ hostvars['soube2']['ansible_all_ipv4_addresses'] | select('match', '^192.168.[0-9]+') | first }}:9090 check
