# my global config
global:
  scrape_interval: {{ prometheus.scrape_interval }}
  evaluation_interval: {{ prometheus.evaluation_interval }}

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]